html {
	background: khaki;
	font-family: Arial, Verdana;
	font-size: 16 px;
	line-height: 1;
	
}
.container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}

.fotoBlock {
	float: left;
	border:	solid;
	width: 15%;
	
}

.foto {
	width: 100%;
}
	
.imyaBlock {
	border: solid;
	margin-left: 20%;
}

.tablisa {
	margin-top: 7%;
}
